@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}",
        "Exercise 04 Page 02 Partial String Search To Dropdown To CRUD ADD/UPDATE/DELETE");
}

@section banner {
    <h1>@Page.Title</h1>
}


