@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "InClass02 Page02");


    
}

@section banner {
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <h3>@Page.Title</h3>
        </div>
    </div>
}
