@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Text Box");
    //if you need to have a variable for the entire page
    //  that variable needs to be declared at a global level
    var message = "";
    var color = "";
    //to access a control of your page use: Request.Form["control parameter name"]
    //the data returned comes in as a STRING
    var myname = Request.Form["dataentry"];
    var thebutton = Request.Form["theButton"];
}

@section banner {
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <h3>@Page.Title</h3>
        </div>
    </div>
}

@if (!IsPost) // NO Buttons Pressed
{
    message = "IsPost = false";
    color = "color:green";
}
else // Buttons Pressed
{
    //IF you have multiple buttons on your form, you SHOULD
    //determine which button was pressed; thus; dictating WHICH
    //logic is to be EXECUTED

    if (thebutton.Equals("reset"))
    {
        myname = "";
        message = "Reset button pressed";
        color = "color:green";
    }
    else if (thebutton.Equals("submit"))
    {
        if (string.IsNullOrEmpty(myname))
        {
            message = "Please enter a name";
            color = "color:firebrick";
        }
        else
        {
            message = "Entered Name: " + @myname;
            color = "color:green";
        }
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label id="label1" for="dataentry">Enter a Name:</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" id="dataentry" name="dataentry" value="@myname" />
            <br /><br />
            <button type="submit" id="theButton" name="theButton"
                    value="submit" class="btn btn-light">
                Submit
            </button>&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="reset" class="btn btn-light">
                Reset
            </button>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-8 text-left">
        <p style=@color>
            @message
        </p>
    </div>
</div>
