@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "10Test1");  
}

@section banner{
    <h1>@Page.Title</h1>
}
    
@if(IsPost)
{ 
    
}
    <form method="post">
        <Label id="label1"
                />
        <h3>HtmlSelect Example </h3>

        Select item from the list.
        <br />
        <br />

        <select id="Select1"
                
                 required />
        <br />
        <br />
        <input type="button"
               onserverclick="Button_Click"
               
               value="Click Me!">
        <br />
        <br />
        <label ID="Label2"
                />
        <br />
        <br />
        <table id="Table1"
                />
    </form>
