@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Form with Dropdown List");

    var message = "";
    var color = "";
}

@section banner {<h1>@Page.Title</h1>}

@if (IsPost) // Buttons Pressed
{
    var choice = Request.Form["CodingSamples"];
    switch (choice.ToUpper())
    {
        case "TEXTBOX":
            {
                Response.Redirect("10Textbox.cshtml");
                break;
            }
        case "RADIOBUTTON":
            {
                Response.Redirect("12RadioButtons.cshtml");
                break;
            }
        case "CHECKBOX":
            {
                Response.Redirect("14CheckBoxes.cshtml");
                break;
            }
        default:
            {
                message = "Select something";
                color = "color:firebrick";
                break;
            }
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="offset-1">
            <label id="lblCodingSamples">Select from the list:</label>&nbsp;&nbsp;
            <select id="CodingSamples" name="CodingSamples">
                <option value="">select ...</option>
                <option value="TextBox">TextBoxes</option>
                <option value="RadioButton">RadioButtons</option>
                <option value="CheckBox">CheckBoxes</option>
            </select>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton" value="submit"
                    class="btn btn-light">
                Go To ...
            </button>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="offset-1 text-center">
        <p style=@color>
            @message
        </p>
    </div>
</div>