@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Page 2 MultiRecord Drop Down to Custom GridView");

    var cid = Request.QueryString["cid"];

    if (string.IsNullOrEmpty(cid))
    {
        Response.Redirect("30P1MultiRecordDropdownToCustomGridView.cshtml");
    }

    var db = Database.Open("NWDB");
    var categoryquery = "SELECT CategoryName "
            + "FROM Categories "
            + "WHERE CategoryID = @0";
    var categoryname = db.QuerySingle(categoryquery, cid);
    var productquery = "SELECT ProductID, ProductName, UnitPrice, Discontinued "
        + "FROM Products "
        + "WHERE CategoryID = @0 "
        + "ORDER BY ProductName";
    var productinfo = db.Query(productquery, cid);



    var gridinstance = new WebGrid(productinfo, rowsPerPage: 5);
}
@section banner {<h1>@Page.Title</h1>
}

<div class="offset-1">
    <h3>Products for Category: @categoryname.CategoryName</h3>
    <div class="col-11">
        @gridinstance.GetHtml(
            tableStyle: "table table-striped table-bordered table-hover",
            mode: WebGridPagerModes.All,
            firstText: "Start",
            lastText: "End",
            columns: gridinstance.Columns(
               gridinstance.Column(columnName: "ProductID", header: "ID"),
               gridinstance.Column(columnName: "ProductName", header: "Name"),
               gridinstance.Column(columnName: "UnitPrice", header: "Unit Price", canSort: false),
               gridinstance.Column(columnName: "Discontinued", header: "Discontinued", canSort: false)))
    </div>
</div>
