@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Page2 Partial String Search to Dropdown to Custom GridView (Ex02)");

    var message = "";
    var color = "";

    var cid = Request.QueryString["cid"];

    if (string.IsNullOrEmpty(cid))
    {
        Response.Redirect("40P1PartialStringSearchToDropdownToCustomGridView.cshtml");
    }
    var db = Database.Open("NWDB");
    var productnamequery = "SELECT ProductName "
        + "FROM Products "
        + "WHERE ProductID = @0";
    var productname = db.QuerySingle(productnamequery, cid);
    var productquery = "SELECT ProductID, ProductName, UnitPrice, Discontinued "
        + "FROM Products "
        + "WHERE ProductID = @0";
    var productinfo = db.Query(productquery, cid);
    if (productinfo == null)
    {
        message = "Product NOT found";
        color = "color:firebrick";
    }
    var gridinstance = new WebGrid(productinfo);
}

@section banner {<h1>@Page.Title</h1>}

<div class="offset-1">
    <h3>Product Information for: @productname.ProductName</h3>
    <div class="col-11">
        @gridinstance.GetHtml(
            tableStyle: "table table-striped table-bordered table-hover",
            mode: WebGridPagerModes.All,
            firstText: "Start",
            lastText: "End",
            columns: gridinstance.Columns(
                gridinstance.Column(columnName: "ProductID", header: "Product ID"),
                gridinstance.Column(columnName: "ProductName", header: "Product Name"),
                gridinstance.Column(columnName: "UnitPrice", header: "Unit Price"),
                gridinstance.Column(columnName: "Discontinued", header: "Discontinued")))
    </div>
</div>
<br />
<div class="row">
    <div class="col-4 text-right">
    </div>
    <div class="col-8 text-left">
        <p style=@color>
            @message
        </p>
    </div>
</div>

