@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Partial String Search To Custom Grid View To CRUD - Page 2 WebGrid Display");

    var message = "";
    var color = "";
    var pid = Request.QueryString["pid"];

    if (string.IsNullOrEmpty(pid))
    {
        Response.Redirect("70P1PartialStringSearchToCustomGridViewToSingleRecord.cshtml");
    }

    var db = Database.Open("NWDB");
    var partialstring = "%" + pid + "%";
    var prodquery = @"SELECT ProductID, ProductName, "
                + "CategoryID, UnitPrice, UnitsInStock, Discontinued "
                + "FROM Products "
                + "WHERE ProductName LIKE @0 "
                + "ORDER BY ProductName";
    var productinfo = db.Query(prodquery, partialstring);
    if (productinfo == null)
    {
        message = "Product NOT found";
        color = "color:firebrick";
    }
    var grid = new WebGrid(productinfo, rowsPerPage: 5);
}

@section banner {<h1>@Page.Title</h1>}

<div class="offset-1">
    <div class="col-11">
        @grid.GetHtml("table table-bordered table-striped table-hover",
        mode: WebGridPagerModes.All,
        lastText: "Last",
        firstText: "First",
        columns: grid.Columns(
            grid.Column(header: "", 
            format: @<text><a href="~/SamplePages/70P3PartialStringSearchToCustomGridViewToSingleRecord.cshtml?pid=@item.ProductID">Edit</a></text>),
            grid.Column(columnName: "ProductID", header: "Product ID"),
            grid.Column(columnName: "ProductName", header: "Product Name"),
            grid.Column(columnName: "CategoryID", header: "Category ID"),
            grid.Column(columnName: "UnitPrice", header: "Unit Price"),
            grid.Column(columnName: "Discontinued", header: "Discontinued")));
    </div>
</div>
<br />
<div class="row">
    <div class="col-4 text-right">
    </div>
    <div class="col-8 text-left">
        <p style=@color>
            @message
        </p>
    </div>
</div>
