@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Drop Down List Selection Query");

    var db = Database.Open("NWDB");
    var categoryquery = @"SELECT CategoryID, CategoryName
            FROM Categories
            ORDER BY CategoryName";
    var categoryrecords = db.Query(categoryquery);

    List<SelectListItem> categoryitems = new List<SelectListItem>();
    categoryitems.Add(new SelectListItem
    {
        Value = "0",
        Text = "select..."
    });
    foreach (var record in categoryrecords)
    {
        categoryitems.Add(new SelectListItem
        {
            Value = record.CategoryId.ToString(),
            Text = record.CategoryName
        });
    }
}

@section banner {<h1>@Page.Title</h1>}

@if (IsPost)
{
    var choice = Request.Form["CategoryList"];
    
    if (choice.Equals("0"))
    {
        <p style="color:firebrick">Select a product category to view:</p>
    }
    else
    {
        var productquery = @"SELECT ProductID
                FROM Products
                WHERE CategoryID = @0";
        var productinfo = db.Query(productquery, choice);
        
        if (productinfo.Count() == 0)
        {
            <p style="color:firebrick">There are no products for the selected category.</p>
        }
        else
        {  
            Response.Redirect("WebGridDisplay.cshtml?cid=" + choice);
        }
    }
}
else
{
    if (categoryrecords.Count() == 0)
    {
        <p style="color:firebrick">There are no categories on file.</p>
    }
}

<form id="theform" method="post">
    <div class="row offset-1">
        <label class="label" for="CategoryList">Category:  </label>&nbsp;&nbsp;
        <span>@Html.DropDownList("CategoryList", categoryitems)</span>
    </div>
    <div class="row offset-1">
        <button type="submit" id="theButton" name="theButton" value="submit"
                class="btn btn-primary">
            View Category Products ...
        </button>
    </div>
</form>