@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "CRUD - Search");

    var message = "";
    var color = "";
    var productsearch = Request.Form["ProductSearch"];

    var db = Database.Open("NWDB");
    var partialsearchstring = "%" + productsearch + "%";

    var queryStatement = "SELECT ProductID, ProductName, CategoryID, "
                        + "UnitPrice, UnitsInStock, Discontinued "
                        + "FROM Products "
                        + "WHERE ProductName like @0 "
                        + "ORDER BY ProductName";
    var queryProducts = db.Query(queryStatement, partialsearchstring);
}

@if (IsPost)
{
    if (productsearch.IsEmpty())
    {
        message = "Enter a product name (or partial name).";
        color = "color:firebrick";
    }
    else
    {

        if (queryProducts.Count() == 0)
        {
            message = "No products found with search string.";
            color = "color:firebrick";
        }
        else
        {
            Response.Redirect("ProductWebGridDisplay.cshtml?pid=" + productsearch);
        }
    }
}

@section banner{<h1>@Page.Title</h1>}

<form id="theForm" action="" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label id="forProductSearch">Product Name</label><br />
        </div>
        <div class="col-8 text-left">
            <input type="text" name="ProductSearch" value="@productsearch">&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" name="Search" id="theSearch">Search</button>
        </div>
    </div>
</form>
<br/>
<div class="row">
    <div class="col-4 text-right">
    </div>
    <div class="col-8 text-left">
        <p style=@color>
            @message
        </p>
    </div>
    </div>
