<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-brand">
        <strong>CPSC1517 Razor</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarMenuName" aria-controls="navbarMenuName"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenuName">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="~/Default.cshtml"
                   style="color:black">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/About.cshtml">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarSubMenu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Controls Demos</a>
                <div class="dropdown-menu" aria-labelledby="navbarSubMenu">
                    <a class="dropdown-item" href="~/SamplePages/10Textbox.cshtml">Textbox</a>
                    <a class="dropdown-item" href="~/SamplePages/12RadioButtons.cshtml">RadioButtons</a>
                    <a class="dropdown-item" href="~/SamplePages/14CheckBoxes.cshtml">CheckBoxes</a>
                    <a class="dropdown-item" href="~/SamplePages/16DropdownList.cshtml">Dropdown List</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDBMenu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Database Demos</a>
                <div class="dropdown-menu" aria-labelledby="navbarDBMenu">
                    <a class="dropdown-item" href="~/SamplePages/20SingleRecordQuery.cshtml">Single Record Primary Key Query</a>
                    <a class="dropdown-item" href="~/SamplePages/30P1MultiRecordDropdownToCustomGridView.cshtml">MultiRecord Dropdown to Custom GridView</a>
                    <a class="dropdown-item" href="~/SamplePages/40P1PartialStringSearchToDropdownToCustomGridView.cshtml">Partial String Search to Dropdown to Custom GridView (Ex02)</a>
                    <a class="dropdown-item" href="~/SamplePages/50SingleRecordINSERT.cshtml">CRUD - Insert (Ex03)</a>
                    <a class="dropdown-item" href="~/SamplePages/60P1PartialStringSearchToCustomGridViewToSingleRecord.cshtml">CRUD - Update/Delete (Ex04)</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarSubMenu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Exercises</a>
                <div class="dropdown-menu" aria-labelledby="navbarSubMenu">
                    <a class="dropdown-item" href="~/ExercisePages/Ex01.cshtml">Exercise 01</a>
                    <a class="dropdown-item" href="~/ExercisePages/Ex02P1.cshtml">Exercise 02</a>
                    <a class="dropdown-item" href="~/ExercisePages/Ex03.cshtml">Exercise 03</a>
                    <a class="dropdown-item" href="~/ExercisePages/Ex04.cshtml">Exercise 04</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

