<connectionStrings>
  <add name="NWDB"
        connectionString="Data Source=(LocalDb)\MSSQLLocalDB; Initial Catalog=Northwind_CPSC1517; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
  <add name="CHINOOKDB"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB; Initial Catalog=Chinook; Integrated Security=true"
      providerName="System.Data.SqlClient"/>
  <add name ="ACTIVITYDB"
          connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=CPSC1517_Activity;Integrated Security=true"
          providerName="System.Data.SqlClient"/>
</connectionStrings>
