input,
select{
    margin-bottom: 3px;
}

.validation-summary-errors {
    border: 2px solid #ffd800;
    color: yellow;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    color: red;
    background-color: yellow;
    border-top: 2px solid #990099;
    border-left: 2px solid #990099;
}
